.env

.python-version

.ipynb_checkpoints
*/.ipynb_checkpoints/*

.vscode

*.csv

*.xml

*.txt


*.pkl

/mlruns

/mlartifacts

# Work in progress
/temperature-forecasting/


# yolo
ladybird-classification/yolo/runs
ladybird-classification/yolo/yolov8s.pt
*.DS_Store
